<section class="new-training">
  <mat-card class="training-card">
    <mat-card-title class="title">Time to start a workout!</mat-card-title>
    <mat-card-content class="content"
      ><mat-form-field>
        <mat-select placeholder="Favorite Exercise">
          <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
            {{ exercise.name }}
          </mat-option>
        </mat-select>
      </mat-form-field></mat-card-content
    >
    <mat-card-actions>
      <button type="submit" mat-button (click)="onStartTraining()">
        Start
      </button>
    </mat-card-actions>
  </mat-card>
</section>
