:host {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.details {
  display: flex;
  align-items: center;
}

:host img {
  width: 125px;
  margin-right: 25px;
}

.price {
  font-size: 25px;
  border-left: 2px solid #aaa;
  padding-left: 10px;
  text-align: center;
  min-width: 190px;
}

.price p {
  margin: 0;
}

.discount {
  margin-top: -15px;
  color: #d25ca1;
}

.strikethrough {
  text-decoration: line-through;
  font-size: 18px;
}

.pill {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 999px;
  background: #ccc;
}

.red {
  background: #dc3545;
  color: white;
}

.yellow {
  background: #ffc107;
  color: #555;
}
