@let hasCartItems = cartItems().length > 0;
<h1 class="header">Your Cart</h1>
@if (hasCartItems) {
<button (click)="checkout.scrollIntoView({ behavior: 'smooth' })">
  Proceed to checkout
</button>
}
<ul>
  @for (product of cartItems(); track product.id) {
  <li>
    <bot-product-details
      [product]="product"
      mode="cart"
      (removeFromCart)="removeFromCart($event)"
    />
  </li>
  } @empty {
  <h2>You have no items in your cart</h2>
  }
</ul>
<span #checkout></span>
@if (hasCartItems) {
<button class="cta">Checkout</button>
}
